<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styl.css">
</head>
<body>
    {% if message %}
    <div id="message">User Already Exists</div>
    {% endif %}
    <h1 id="heading">To Do List</h1>
    
    <div id="login">
    <h2>Login</h2>
    <form method="post" class="user_page">
        <label for="id">User Id</label>
        <input type="text" name="id">
        <label for="pass">Password</label>
        <input type="password" name="pass">
        <button type="submit">Submit</button>
        
    </form>
    <div class="new_Button">
        <button id="new_user_Button" onclick="document.getElementById('hide').style.left=0;"><h6>New User ? Sign Up Here</h6></button>
    </div>
    </div>
    <div id="signup">
        <h2>Signup</h2>
    <form method="post" class="user_page">
        <label for="id">User Id</label>
        <input type="text" name="sign_id">
        <label for="pass">Password</label>
        <input type="password" name="sign_pass">
        <button type="submit">Submit</button>
    </form>
    <div class="new_Button">
        <button id="new_user_Button" onclick="document.getElementById('hide').style.left='50%';"><h6>Already a user ? Login</h6></button>
    </div>
    </div>
    <div id="hide"></div>

    <script>
        const ele = document.getElementById('heading');
        const height = ele.offsetHeight;
        document.documentElement.style.setProperty("--head-height", `${height}px`);
    </script>
</body>
</html>